{% extends "base.html" %}
{% load static %}
{% block content %}
    <head>

        <title>Coursify</title>
    <link rel="stylesheet" type="text/css" href="{% static 'intern/about.css' %}">
    </head>
    <div class="about-section">
        <h2><p class="font-weight-normal" style="color: white"><b> About US </b></p></h2>
        <p class="font-weight-normal">We are Coursify . We Solve your doubts faster with 1 million+ videos that you can access anywhere in the world , Thousands of Books/Courses and Expert Tutors.</p>
        <p class="font-weight-normal">We Provide Live Interactive sessions and Classes for (JEE MAINS AND ADVANCED) & (NEET) preparations by our Expert Tutors with First Demo class FREEE!!!</p>
        <p class="font-weight-normal"> Explore the Subjects with us like Maths, Physics , Chemistry & Physics with access to 5000+ Books and different Stateboard Syllabus.</p>
    </div>
    <br>
    <h4 style="text-align:center; color: white" class="font-weight-normal" ><b>Our Team of Tutors</b></h4>
<div class="row">
  <div class="column">
    <div class="card">
      <img src="https://blogverge.s3.ap-south-1.amazonaws.com/team1.jpg" alt="Shivani" style="width:100%">
      <div class="container">
        <h2>Shivani Arora</h2>
        <p class="title">CEO & Founder</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>ShivaniAroras@example.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="https://blogverge.s3.ap-south-1.amazonaws.com/team2.jpg" alt="Mike" style="width:100%">
      <div class="container">
        <h2>Mike Ross</h2>
        <p class="title">Art Director</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>mike@example.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

    <div class="column">
        <div class="card">
          <img src="https://blogverge.s3.ap-south-1.amazonaws.com/team3.jpg" alt="John" style="width:100%">
          <div class="container">
            <h2>John Doe</h2>
            <p class="title">Designer</p>
            <p>Some text that describes me lorem ipsum ipsum lorem.</p>
            <p>johnDoe@example.com</p>
            <p><button class="button">Contact</button></p>
          </div>
        </div>
      </div>
    </div>

{% endblock content %}

