{% extends "base.html" %}
{% block content %}
    <div class="container">
        <div style="text-align:left">
            <h2><p class="font-weight-bold"> Contact Us </p></h2>
            <p class="font-weight-normal"> Leave us a message at : </p>
            <p class="font-weight-light" style="color: white"> <i>"add company's email here"</i> </p>
            <p class="font-weight-light" style="color: white"> "gautamkhattri07@gmail.com" </p>
            <h4><p class="font-weight-bold"> Call us at : </p></h4>
            <p class="font-weight-light" style="color: white"> +91 9977999980 </p>
         </div>
    </div>
{% endblock content %}

