{% extends "base.html" %}
{% block content %}
    <div class="container">
        <div style="text-align:left">
            <h2><p class="font-weight-normal" style="color: white"><b> Contact Us </b></p></h2>
            <p class="font-weight-normal" style="color: white"> Leave us a message at : </p>
            <p class="font-weight-light" style="color: white"> <i>"add company's email here : coursifycontact@example.com"</i> </p>
            <address class="font-weight-light" style="color: white">
            Written by <a href="mailto:coursify@example.com">Gautam Khattri</a>.<br>
            Visit us at:<br>
            Example.com<br>
            Box 564, Gurgaon <br>
            Haryana India
            </address>
            <p class="font-weight-light" style="color: white"> "gautamkhattri07@gmail.com" </p>
            <h4><p class="font-weight-bold" style="color: white"> Call us at : </p></h4>
            <p class="font-weight-light" style="color: white"> +91 9977999980 </p>
         </div>
    </div>
{% endblock content %}

