{% extends "base.html" %}
{% block content %}
    <article class="media content-section">
        <img class="rounded-circle article-img" src="{{ object.author.profile.image.url }}">
        <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2" href="{% url 'user-post' object.author.username %}">{{ object.author }}</a>
                <small class="text-muted">{{ object.date_posted|date:"F d, Y" }}</small>
                {% if object.author == user %}
                    <div>
                        <a class="btn btn-secondary btn-sn mt-1 mb-1" href="{% url 'post-update' object.id %}">Update</a>
                        <a class="btn btn-danger btn-sn mt-1 mb-1" href="{% url 'post-delete' object.id %}">Delete</a>
                    </div>
                {% endif %}
            </div>
            <h2 class="article-title">{{ object.title }}</h2>
            <p class="article-content">{{ object.Body }}</p>
            <hr>

            <!-- like and share fb -->
            <div class="row">
                &nbsp; <div class="fb-like" data-href="https://edutechify.herokuapp.com/post/{{ post.id }}" data-width="" data-layout="button_count" data-action="like" data-size="small" data-share="true"></div>
                &nbsp; <a href="https://twitter.com/share?text={{ object.title }}&ref_src=twsrc%5Etfw }}" class="twitter-share-button" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>
            <!-- comment -->
            <h5 class="font-weight-normal">Comments</h5>
            <div class="fb-comments" data-href="https://edutechify.herokuapp.com/post/{{ post.id }}" data-numposts="4" data-width=""></div>
        </div>

    </article>
{% endblock content %}